$cream-foreground-color: black !default;
$cream-primary-color: #2266FF !default; 

$cream-border-radius: 3px !default;
$cream-border-width: 1px !default;
$cream-shadow-size: 1px !default;
$cream-shadow-color: tint($cream-foreground-color, 10%);
$cream-form-element-height: 1.5rem !default;
