$foreground-color: black;
$primary-color: #2266FF; 

$cream-border-radius: 3px !default;
$cream-border-width: 1px !default;
$cream-shadow-size: 1px !default;
$cream-shadow-color: tint($foreground-color, 10%);
$cream-form-element-height: 1.5rem !default;
